ctftcConverter/Connected Services/serviceadd/ctftc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="stc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ct" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="stcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="stcResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="stf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tf" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="stfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="stfResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sadd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="saddResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ssub">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ssubResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ssubResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="smul">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="smulResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="smulResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sdiv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sdivResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sdivResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="smod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="smodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="smodResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="stcSoapIn">
    <wsdl:part name="parameters" element="tns:stc" />
  </wsdl:message>
  <wsdl:message name="stcSoapOut">
    <wsdl:part name="parameters" element="tns:stcResponse" />
  </wsdl:message>
  <wsdl:message name="stfSoapIn">
    <wsdl:part name="parameters" element="tns:stf" />
  </wsdl:message>
  <wsdl:message name="stfSoapOut">
    <wsdl:part name="parameters" element="tns:stfResponse" />
  </wsdl:message>
  <wsdl:message name="saddSoapIn">
    <wsdl:part name="parameters" element="tns:sadd" />
  </wsdl:message>
  <wsdl:message name="saddSoapOut">
    <wsdl:part name="parameters" element="tns:saddResponse" />
  </wsdl:message>
  <wsdl:message name="ssubSoapIn">
    <wsdl:part name="parameters" element="tns:ssub" />
  </wsdl:message>
  <wsdl:message name="ssubSoapOut">
    <wsdl:part name="parameters" element="tns:ssubResponse" />
  </wsdl:message>
  <wsdl:message name="smulSoapIn">
    <wsdl:part name="parameters" element="tns:smul" />
  </wsdl:message>
  <wsdl:message name="smulSoapOut">
    <wsdl:part name="parameters" element="tns:smulResponse" />
  </wsdl:message>
  <wsdl:message name="sdivSoapIn">
    <wsdl:part name="parameters" element="tns:sdiv" />
  </wsdl:message>
  <wsdl:message name="sdivSoapOut">
    <wsdl:part name="parameters" element="tns:sdivResponse" />
  </wsdl:message>
  <wsdl:message name="smodSoapIn">
    <wsdl:part name="parameters" element="tns:smod" />
  </wsdl:message>
  <wsdl:message name="smodSoapOut">
    <wsdl:part name="parameters" element="tns:smodResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="stc">
      <wsdl:input message="tns:stcSoapIn" />
      <wsdl:output message="tns:stcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="stf">
      <wsdl:input message="tns:stfSoapIn" />
      <wsdl:output message="tns:stfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sadd">
      <wsdl:input message="tns:saddSoapIn" />
      <wsdl:output message="tns:saddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ssub">
      <wsdl:input message="tns:ssubSoapIn" />
      <wsdl:output message="tns:ssubSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="smul">
      <wsdl:input message="tns:smulSoapIn" />
      <wsdl:output message="tns:smulSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sdiv">
      <wsdl:input message="tns:sdivSoapIn" />
      <wsdl:output message="tns:sdivSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="smod">
      <wsdl:input message="tns:smodSoapIn" />
      <wsdl:output message="tns:smodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="stc">
      <soap:operation soapAction="http://tempuri.org/stc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stf">
      <soap:operation soapAction="http://tempuri.org/stf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sadd">
      <soap:operation soapAction="http://tempuri.org/sadd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssub">
      <soap:operation soapAction="http://tempuri.org/ssub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="smul">
      <soap:operation soapAction="http://tempuri.org/smul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sdiv">
      <soap:operation soapAction="http://tempuri.org/sdiv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="smod">
      <soap:operation soapAction="http://tempuri.org/smod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="stc">
      <soap12:operation soapAction="http://tempuri.org/stc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stf">
      <soap12:operation soapAction="http://tempuri.org/stf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sadd">
      <soap12:operation soapAction="http://tempuri.org/sadd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssub">
      <soap12:operation soapAction="http://tempuri.org/ssub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="smul">
      <soap12:operation soapAction="http://tempuri.org/smul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sdiv">
      <soap12:operation soapAction="http://tempuri.org/sdiv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="smod">
      <soap12:operation soapAction="http://tempuri.org/smod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44383/ctftc.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44383/ctftc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>